<h1>My Notes</h1>

<p>Welcome <%= current_user.email %></p>

<%= link_to "New Note", new_note_path %>

<ul>
  <% @notes.each do |note| %>
    <li>
      <%= link_to note.title, note_path(note) %>
      <br>
      <%= note.content %>
    </li>
  <% end %>
</ul>
