<h1>Admin Dashboard</h1>

<hr>

<h2>Statistics</h2>

<p>Total Users: <%= @users.count %></p>
<p>Total Notes: <%= @notes.count %></p>

<hr>

<h2>Users</h2>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.email %> -
      <strong><%= user.role %></strong>
    </li>
  <% end %>
</ul>
